<div class="input-group" [formGroup]="filter">

  <input class="form-control form-control-sm" formControlName="value" [ngbTypeahead]="search" placeholder="Seleccionar" [resultFormatter]="formatter" [inputFormatter]="formatter" >
  <div class="input-group-append">
    <span *ngIf="searching" class="input-group-text"><span class="oi oi-clock"></span></span>
    <span *ngIf="isSelected" class="input-group-text"><span class="oi oi-check"></span></span>
    <span *ngIf="!isSelected && !searching" class="input-group-text"><span class="oi oi-question-mark"></span></span>
  </div>

</div>
<!--
  Los chequeos deben realizarse en el componente superior
  Cada campo puede definir chequeos particulares que no pueden ser definidos en forma general
-->