<div  class="input-group">
  <input placeholder="Buscar {{entityName}}" [ngClass]="{'form-control':true,'form-control-lg':(size=='lg'),'form-control-sm':(size=='sm')}" [readonly]="readonly" [formControl]="searchControl" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" placeholder="Seleccionar" (selectItem)="selectItem($event)">
  <div class="input-group-append">

    <span *ngIf="field.pending" class="input-group-text"><span class="oi oi-clock"></span></span>
    <span *ngIf="field.value && !field.pending" class="input-group-text" (click)="field.setValue(null)"><span class="oi oi-reload"></span></span>
    <span *ngIf="!field.value && !field.pending" class="input-group-text"><span class="oi oi-question-mark"></span></span>
    <span class="input-group-text"><a  class="btn btn-outline-secondary" role="button" [routerLink]="'/'+linkAdd" [queryParams]="{ id : field.value }" class="oi oi-pencil"></a></span>
  </div>
  
</div>
<!--
  Los chequeos deben realizarse en el componente superior
  Cada campo puede definir chequeos particulares que no pueden ser definidos en forma general
  -->